.button-ingresar{
    width: 100%;
    height: 45px;
    border-radius: 25px;
    background: #004B40;
    font-size: 22px;
    font-family: monospace;
    color: white;
    font-weight: 600;
    margin-top: 21px;
}

.img-user{
    width: 100px;
    margin-right: 15px;
}

.text-question{
    color: #004B40;
    font-family: monospace;
    font-weight: 600;
    font-size: 23px;
}

.text-user{
    font-size: 18px;
    color: #757575;
}

.div-line{
    background-color: #1EEA00;
    height: 2px;
    
}

.div-head{
    padding: 51px 20px 0px 20px
}