<ion-content style="overflow: hidden;">
  <ion-row class="espacio">
    <ion-col size="3">
    </ion-col>
    <ion-col align-self-center>
      <ion-img src="/assets/icon/Login.png" ></ion-img>
    </ion-col>
    <ion-col size="3">
    </ion-col>
  </ion-row>

  <div class="align-item-center padding-div-text-welcome">
      <h4 class="bienvenida">Donde los incentivos son reales!</h4>
  </div>

  <div class="div-btn-login">

      <button color="success" class="button" (click)="registrar()">Regístrate</button>
    


      <button color="dark" class="button-ingresar" (click)="ingresar()" > Ingresa </button>
    
  </div>

  <!-- <ion-item>
    <ion-icon slot="start" name="person"></ion-icon>
    <ion-label position="floating" class="label">Usuario</ion-label>
    <ion-input type="text" name="usuario"></ion-input>
  </ion-item> -->
</ion-content>

