.grid1 {
    height: 100%;
    padding: 0px;
}

.contaier-login {
    width: 90%;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}


.row1 {
    height: 50%;
    background: -moz-linear-gradient(45deg, rgba(30, 234, 0, 100) 0%, rgba(89, 54, 54, 100) 100%);
    background: -webkit-linear-gradient(45deg, rgba(30, 234, 0, 100) 0%, rgba(89, 54, 54, 100) 100%);
    background: linear-gradient(45deg, rgba(30, 234, 0, 100) 0%, rgba(89, 54, 54, 100) 100%);
}

.row2 {
    height: 50%;
}

ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}

h1, h3{
    font-family: monospace;
}

.button{
    font-family: monospace;
}

.entrar{
    width: 85%;
    height: 45px;
    background: #004B40;
    border-radius: 25px;
    font-size: 15px;
    font-family: monospace;
    color: white;
    margin-bottom: 15px;
    font-weight: 600;
}
